<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>Order Service</title>

  <style>

    body{
      font-family: Arial;
      background:#f4f6f8;
      text-align:center;
      padding-top:100px;
    }

    .card{
      width:600px;
      margin:auto;
      background:white;
      padding:40px;
      border-radius:15px;
      box-shadow:0 3px 12px rgba(0,0,0,.1);
    }

    h1{
      color:#27ae60;
    }

  </style>

</head>
<body>

<div class="card">

  <h1>✅ Order Service</h1>

  <h2 th:text="${message}">
    OK
  </h2>

</div>

</body>
</html>